<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearListarU</servlet-name>
        <servlet-class>Controlador.CrearListarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPorAreaU</servlet-name>
        <servlet-class>Controlador.ListarPorAreaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuarioU</servlet-name>
        <servlet-class>Controlador.ValidarUsuarioU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarElementoU</servlet-name>
        <servlet-class>Controlador.BuscarElementoU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarClaveU</servlet-name>
        <servlet-class>Controlador.CambiarClaveU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoU</servlet-name>
        <servlet-class>Controlador.EstadoU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialU</servlet-name>
        <servlet-class>Controlador.HistorialU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuarioU</servlet-name>
        <url-pattern>/ValidarUsuarioU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearListarU</servlet-name>
        <url-pattern>/CrearListarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarElementoU</servlet-name>
        <url-pattern>/BuscarElementoU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPorAreaU</servlet-name>
        <url-pattern>/ListarPorAreaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarClaveU</servlet-name>
        <url-pattern>/CambiarClaveU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoU</servlet-name>
        <url-pattern>/EstadoU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialU</servlet-name>
        <url-pattern>/HistorialU</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
