<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearListar</servlet-name>
        <servlet-class>Controlador.CrearListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPorArea</servlet-name>
        <servlet-class>Controlador.ListarPorArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>Controlador.ValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarElemento</servlet-name>
        <servlet-class>Controlador.BuscarElemento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarClave</servlet-name>
        <servlet-class>Controlador.CambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estado</servlet-name>
        <servlet-class>Controlador.Estado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>Controlador.Historial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/ValidarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearListar</servlet-name>
        <url-pattern>/CrearListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarElemento</servlet-name>
        <url-pattern>/BuscarElemento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPorArea</servlet-name>
        <url-pattern>/ListarPorArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarClave</servlet-name>
        <url-pattern>/CambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estado</servlet-name>
        <url-pattern>/Estado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
